/* Welpike - welpike.github.io */

.navbar-brand{
    font-family: monospace;
}

pre{
    background: #333;
    color: #fff;
    padding: 10px;
}

@media screen and (max-width:989px){
    #hero .d-flex{
        gap: 30px !important;
    }
}

@media screen and (max-width:771px){
    #hero, #news{
        text-align: center;
    }
    #hero .d-flex, #news .d-flex{
        flex-direction: column !important;
    }
    #news .w-50{
        width: 100% !important;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:442px){
    #url-maker-form .d-flex.gap-3{
        flex-direction: column;
    }
    #url-maker-form .d-flex.gap-3 input{
        width: 100% !important;
    }
}

@media screen and (max-width:371px){
    body{
        width: 100% !important;
    }
}
